Repository grimme-lab/xtb, pull requests merged in 2020-01, with the labels that each got.

#84 OpenSUSE specific fix for C-source code
  meson.build
Labels: build

#89 check for flake8 instead of pylint in flake8 test
  meson.build
Labels: build, python

#90 Add some badges to README
  README.md
Labels: documentation

#58 Enable Build with GCC
  .github/workflows/fortran-build.yml
  README.md
  TESTSUITE/gfn0.f90
  TESTSUITE/gfn1.f90
  TESTSUITE/gfn2.f90
  TESTSUITE/meson.build
  TESTSUITE/peeq.f90
  meson.build
  meson_options.txt
  xtb/argparser.F90
  xtb/c_api.f90
  xtb/calculator.f90
  xtb/gfn0_calculator.f90
  xtb/gfn1_calculator.f90
  xtb/gfn2_calculator.f90
  xtb/grad_core.f90
  xtb/hessian.F90
  xtb/modef.f90
  xtb/molecule_reader.f90
  xtb/program_main.f90
  xtb/scc_core.f90
  xtb/scf_module.f90
  xtb/screening.f90
  xtb/tbdef_atomlist.f90
  xtb/tbdef_fragments.f90
  xtb/tbdef_param.f90
  xtb/tbmod_file_utils.f90
Labels: build, help wanted

#91 update readme and installation
  README.md
  assets/meson.build
  assets/templates/config_env.bash
  assets/templates/config_env.csh
  assets/templates/xtb.pc
  assets/xtb.wrap
  meson.build
Labels: build, documentation

#92 add necessary file for C-API test
  TESTSUITE/c_api_example.c
Labels: C-API

#99 CMake build files
  .github/workflows/fortran-build.yml
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  cmake/CMakeLists.txt
  cmake/Files.cmake
  cmake/Tests.cmake
  cmake/config.cmake.in
  meson.build
Labels: build
