Repository grimme-lab/xtb, pull requests merged in 2022-03, with the labels that each got.

#594 Fallback to coord input if format is unknown
  src/io/reader.f90
Labels: bug

#595 Don't check for existence of gfnff_topo
  src/gfnff/gfnff_setup.f90
Labels: bug, gfnff

#602 Catch out-of-bounds indexing for constraints
  src/constrain_param.f90
Labels: bug

#604 Fix issues with structure converter
  src/gfnff/gfnff_setup.f90
  src/gfnff/struc_converter.f90
  src/type/molecule.f90
  src/xtb/repulsion.F90
Labels: bug, gfnff

#609 Fix .CHRG handling in GFN-FF
  src/gfnff/gfnff_setup.f90
Labels: bug, method: GFN-FF
